{% extends 'base.html.twig' %}


{% block title %}Category of Wild Series
{% endblock %}


{% block body %}

	<h1>{{ website }}
		index</h1>
	<img src="{{ asset('build/images/photo_movie.jpeg') }}" alt="movie"/>
	{% for category in categories %}
		<div class="card">
		<p> {{ category.name }} </p>
		</div>

	{% endfor %}

{% endblock %}